body {
    background-color: #3b5998;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: #2d3656;
    width: 90%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#searchResults {
    margin-bottom: 20px;
    font-size: 14px;
    color: #ffffff;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.grid-item {
    width: 45%;
    height: 100px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}

.grid-item:hover {
    background-color: #c0c0c0;
}

.grid-item-id {
    background-color: #d3d3d3;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item-id img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    transition: transform 0.3s ease;
}

.grid-item-id img:hover {
    transform: scale(1.2);
}

.grid-item-id span {
    display: block;
    color: #333;
    font-size: 16px;
    text-align: center;
}

.grid-item-id:hover{
    background-color: #c0c0c0;
}

.settings {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.credits {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}

.credits a {
    display: block;
    margin-bottom: 10px;
}

.settings img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.settings span {
    font-size: 18px;
}

a{
    color: inherit;
    text-decoration: none;
}

@media (max-width: 600px) {
    .grid-item {
        width: 100%;
        height: 80px;
    }

    .grid-item-id img {
        max-height: 70px;
    }

    .settings img {
        width: 20px;
        height: 20px;
    }

    .settings span {
        font-size: 16px;
    }
}
